html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  box-sizing: border-box;
}
